---
name: Build

"on":
  workflow_call:
    inputs:
      path:
        description: Path to package directory
        required: true
        type: string
      manifest:
        description: Output from release-please
        required: true
        type: string
  workflow_dispatch:
    inputs:
      path:
        description: Path to package directory
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          token: ${{ secrets.PAT }}
      - name: JDK Setup
        uses: actions/setup-java@v3
        with:
          cache: maven
          java-version: '17'
          distribution: temurin
      - name: Maven Package
        run: |
          mvn --batch-mode clean package
          test -f ./target/*-shaded.jar
        working-directory: ${{ inputs.path }}
      - name: Upload Artifact to Release
        if: github.event_name == 'workflow_call'
        uses: shogo82148/actions-upload-release-asset@v1.7.2
        with:
          github_token: ${{ secrets.PAT }}
          upload_url: ${{ fromJSON(inputs.manifest)[format('{0}--upload_url', inputs.path)] }}
          asset_path: ./${{ inputs.path }}/target/*.jar
          asset_content_type: application/java-archive
          overwrite: true
      - name: Publish to GitHub Packages
        run: mvn --batch-mode deploy
        env:
          GITHUB_TOKEN: ${{ secrets.PAT }}
        working-directory: ${{ inputs.path }}
